*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: linear-gradient(to right, pink,rgb(245, 174, 245),violet);
}
main h1{
    color: white;
}
.bigbox{
    height: 70vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:white ;
    flex-direction: column;
    border-radius: 20px;
   
}
.box{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box input{
    width: 70%;
    height: 40px;
    border: 2px solid black;
}
.smallbox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
    
}
.output{
    width: 80%;
    height: 40vh;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.genbtn{
    width: 100px;
    height: 40px;
    background: linear-gradient(rgba(255, 0, 0, 0.534),rgba(0, 128, 0, 0.466));
    font-size: 20px;
    cursor: pointer;
}

@media(max-width:750px){
    .bigbox{
        height: 85vh;
        width: 90%;
    }
    .output{
        height: 80%;
        width: 90%;
        font-size: 15px;
    }
    
}
